@use '../variables.scss' as *;

.Root {
  margin-top: $spacing-300;
  margin-bottom: $spacing-200;
  height: 100%;

  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 0;
  }

  &__wrapper {
    margin-inline: $spacing-100;

    @media screen and (min-width: $breakpoint-md) {
      padding-inline: $spacing-100;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: $breakpoint-lg) {
      flex-direction: row;
      margin-inline: 10%;
      padding-inline: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: $breakpoint-xxl) {
      margin-inline: 20%;
    }
  }

  &__textContainer {
    margin-bottom: $spacing-200;

    @media screen and (min-width: $breakpoint-lg) {
      flex: 0 0 40%;
    }
  }

  &__headlineXL {
    margin-block: $spacing-75;
    font-weight: $font-weight-regular;
  }

  &__imageWrapper {
    position: relative;
    aspect-ratio: 1/1;
    min-width: $spacing-500;

    @media screen and (min-width: $breakpoint-md) {
      min-width: 50%;
    }

    @media screen and (min-width: $breakpoint-lg) {
      flex: 0 0 60%;
    }
  }
}
