@use './variables.scss' as *;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans;
  background-color: $color-background-base;
  color: $color-text-base;
  height: 100dvh;

  @media screen and (min-width: $breakpoint-lg) {
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#__next {
  height: 100%;
}
