@use '@styles/variables.scss' as *;

.Root {
  border: none;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $color-background-light;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__wrapper {
    display: block;
    width: 100%;
  }
}
