@use '@styles/variables.scss' as *;

.Root {
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $color-background-light;

  width: 100%;
  height: calc(100vh - 6.5rem);

  display: flex;
  flex-direction: column;

  &__wrapper {
    display: block;
    width: 100%;
    padding-inline: $spacing-100;
  }
}
