@use '@styles/variables.scss' as *;
@use '@styles/mixins/color.scss' as *;

.Root {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $color-background-light;

  &__topLabel {
    text-align: center;
    background: $color-background-primary;
    padding-block: $spacing-50;
  }

  &__navbar {
    padding-inline: $spacing-100;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, minmax(0, 1fr));

    background: $color-background-light;
    padding-block: $spacing-100;

    @media screen and (min-width: $breakpoint-lg) {
      margin-inline: 10%;
    }
  }

  &__hamburger {
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint-lg) {
      display: none;
    }

    &__button {
      padding: 0;
    }
  }

  &__logoWrapper {
    grid-column-start: 3;
    grid-column-end: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $breakpoint-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      justify-content: flex-start;
    }
  }

  &__logo {
    width: 8rem;
  }

  &__menuList {
    display: none;

    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
      justify-content: space-around;

      list-style: none;
      cursor: pointer;

      grid-column-start: 2;
      grid-column: span 3 / span 3;

      & > :hover {
        @include on-hover-text-dark();
      }
    }
  }

  &__icons {
    grid-column-start: 6;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: $spacing-50;
  }

  &__cartContainer {
    position: relative;
  }

  &__itemsInCart {
    background: $color-background-dark;
    color: $color-text-light;
    height: $spacing-100;
    width: $spacing-100;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: -0.4rem;
    top: $spacing-75;
  }
}
