@use '@styles/variables.scss' as *;
@use '@styles/mixins/typography.scss' as *;

.Root {
  font-family: $font-family-sans;
  @include body-lg();

  cursor: pointer;
  background: transparent;
  border: none;

  &_isFluid {
    width: 100%;
  }

  &_sizeSelection {
    height: $spacing-250;
    background-color: $color-background-light;
    padding-inline: $spacing-100;

    appearance: none;
    background-image: url('/icons/chevronDown.png');
    background-repeat: no-repeat;
    background-position: right $spacing-125 top 50%;
    background-size: $spacing-125 auto;
  }

  @media screen and (min-width: $breakpoint-md) {
    background-position: right $spacing-75 top 50%;
  }
}
