@use '@styles/variables' as *;

.Root {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;

  &__image {
    width: 100%;
  }

  &__item {
    margin-top: $spacing-25;
  }

  &__item,
  &__price {
    text-transform: uppercase;
  }

  &__price {
    margin-top: auto;
  }
}
