@use '@styles/variables' as *;

.Root {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: $spacing-800;
  height: 100%;

  @media screen and (min-width: $breakpoint-xl) {
    min-width: $spacing-900;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__item {
    margin-top: $spacing-25;
  }

  &__item,
  &__price {
    text-transform: uppercase;
  }

  &__price,
  %price {
    margin-top: auto;
  }

  &__sold {
    @extend %price;
    color: $color-semantic-error;
    text-transform: uppercase;
  }
}
