@use '@styles/variables.scss' as *;

.Root {
  &__wrapper {
    margin-inline: $spacing-100;
  }

  &__titleAndPriceWrapper {
    margin-block: $spacing-50;
  }

  &__productTitle {
    text-transform: uppercase;
  }

  &__selectWrapper {
    display: flex;
    flex-direction: column;
    margin-block: $spacing-125;

    & > p {
      margin-bottom: $spacing-50;
    }
  }

  &__detailsWrapper {
    margin-block: $spacing-250;
  }

  &__detailsHeadline {
    text-transform: uppercase;
  }

  &__listWrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;

    &__item {
      & > * {
        margin-block: 0;
      }
    }
  }
}
