@use '@styles/variables.scss' as *;

.Root {
  &__wrapper {
  }

  &__titleAndPriceWrapper {
  }

  &__productTitle {
    text-transform: uppercase;
  }

  &__detailsWrapper {
  }

  &__detailsHeadline {
    text-transform: uppercase;
  }

  &__listWrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;

    &__item {
      & > * {
        margin-block: 0;
      }
    }
  }
}
