@use '@styles/variables.scss' as *;

.Root {
  margin-inline: $spacing-100;
  padding-bottom: $spacing-200;

  @media screen and (min-width: $breakpoint-lg) {
    padding-inline: $spacing-100;
    margin-inline: 10%;
  }

  &__headline {
    text-transform: uppercase;
  }

  &__emptyCartContainer {
    margin-block: $spacing-400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $breakpoint-md) {
      margin-block: 20vh;
    }

    @media screen and (min-width: $breakpoint-lg) {
      margin-block: 25vh;
    }

    @media screen and (min-width: $breakpoint-xl) {
      margin-block: 15vh;
    }

    @media screen and (min-width: $breakpoint-xxl) {
      margin-block: 21vh;
    }
  }

  &__summaryWrapper {
    display: flex;
    flex-direction: column;
  }

  &__textContainer {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-block: $spacing-50;
    }
  }

  &__checkOutBtn {
    margin-block: $spacing-200;
  }
}
