@use '@styles/variables.scss' as *;

.Root {
  margin-inline: $spacing-100;
  padding: $spacing-100;

  @media screen and (min-width: $breakpoint-lg) {
    margin-inline: 10%;
  }

  &__headline {
    text-transform: uppercase;
  }

  &__emptyCartContainer {
    margin-block: $spacing-400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $breakpoint-md) {
      margin-block: 20vh;
    }

    @media screen and (min-width: $breakpoint-lg) {
      margin-block: 25vh;
    }

    @media screen and (min-width: $breakpoint-xl) {
      margin-block: 15vh;
    }
  }

  &__textContainer {
    display: flex;
    justify-content: space-between;
  }
}
