@use '@styles/variables.scss' as *;

.Root {
  margin-top: $spacing-200;
  margin-bottom: $spacing-400;
  min-height: 100vh;

  @media screen and (min-width: $breakpoint-lg) {
    margin-inline: 10%;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    margin-inline: 20%;
  }

  &__header {
    text-align: center;
  }

  &__headline {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
  }

  &__selectContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-75;
    margin-inline: $spacing-100;
    padding-bottom: $spacing-100;

    @media screen and (min-width: $breakpoint-lg) {
      padding-bottom: $spacing-25;
    }
  }

  &__selectLabel {
    display: none;
    padding-bottom: $spacing-25;

    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  }

  &__selectWrapper {
    padding-bottom: $spacing-25;
    border-bottom: 2px solid $color-border-dark;
  }
}
